---
name: CI

on:
  push:

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "latest"
          cache: yarn
      - name: Install Yarn@stable
        run: |
          corepack enable
          corepack prepare yarn@stable --activate
          yarn --version
      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules/.vite
          # Generate a new cache whenever packages or source files change.
          key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
          # If source files changed but packages didn't, rebuild from a prior cache.
          restore-keys: |
            ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}-
      - name: Install dependencies
        run: yarn install
      - name: Build
        run: yarn build
